header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    & div#content-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 21.94rem;

        & #input-wrapper {
            display: flex;
            flex-direction: row;
            background-color: var(--gray-border);
            border-radius: 0.75rem;
            border: 1px solid var(--gray-400);
            padding: .5rem;
            margin-top: 2rem;
            width: 100%;

            & input {
                flex: 1;
                outline: none;
                border: none;
                background-color: transparent;
                font-size: var(--fs-md);
                color: var(--gray-500);
                padding-inline: .5rem;

                & :focus-within {
                    border: none;
                }
            }

            & input::-webkit-search-cancel-button {
                -webkit-appearance: none;
                appearance: none;
                display: none;
            }

            & div#submitIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--gray-500);
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 381px) {
    header {
        width: 381px;
        margin-top: 2rem;
        padding-inline: 1rem;

        & div#content-header {
            display: flex;
            width: 100%;


            & div#input-wrapper {
                flex: 1;
                margin-top: 1rem;
            }
        }
    }
}